@font-face {
    font-family: 'Fontix';
    src: url('Fontix-Regular.ttf') format('truetype');
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: white;
}

header {
    background-color: #f4f4f4;
    padding: 20px;
    text-align: center;
}

h1 {
    font-family: 'Fontix', Arial, sans-serif;
    margin: 0;
    font-weight: normal;
}

h2 {
    font-family: 'Fontix', Arial, sans-serif;
    margin: 0;
    font-weight: normal;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
}

.project {
    flex: 1;
    margin: 10px;
    text-align: center;
}

.project img {
    max-width: 100%;
    height: auto;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    margin: 20px;
}

.gallery img {
    max-width: 100%;
    height: auto;
}

a {
    color: rgb(72 223 105);
    text-decoration: none;
}