@media screen and (max-width: 600px) {
    .container {
        max-width: 100%;
        padding: 0;
    }

    /* header {
        padding-bottom: 1rem;
    } */

    h1, 
    h2 {
        font-size: 2rem;
        line-height: 2.5rem;
        padding: 0;
        margin: 0;
    }

    #subheader .bio {
      padding: 0;
      font-size: 0.8rem;
    }

    .chapter {
        font-size: 3rem;
        line-height: 3.5rem;
    }

    .chapter_box {
        padding: 0rem 1rem 0rem 1rem;
    }

    .projects, 
    .gallery {
        grid-template-columns: 1fr;
    }

    .gallery_book {
        grid-template-columns: 1fr;
    }

    #project_info_box_container {
        padding: 1rem;
    }
}

@media screen and (max-width: 900px) and (min-width: 601px) {
    .container {
        max-width: 100%;
        padding: 0;
    }

    #subheader .bio {
      padding: 0;
    }

    h1, 
    h2 {
        font-size: 2.5rem;
        line-height: 3rem;
    }

    .chapter {
        font-size: 3.5rem;
        line-height: 4rem;
    }

    .chapter_box {
        padding: 0rem 1rem 0rem 3rem;
    }

    .projects, 
    .gallery {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .gallery_book {
        grid-template-columns: 1fr;
    }

    #project_info_box_container {
        padding: 1.5rem 2rem;
    }
}
